html
  body
    #wrapperInner(style="background: #fff;")
      #logindiv
      header
        nav#menu
          a#logo.logo.nolink(href='?full')
          a#showHideSearch(href='#')
            i.ka.ka-zoom
          #torrentSearch
            form#searchform(action='usearch/', method='get', accept-charset='utf-8', onsubmit='if(this.contentSearch.value.length > 1) { TopicList.loadTopics("list", false, this.contentSearch.value, $("#torrent_search_category").val()); } return false;')
              input#contentSearch.input-big(type='text', name='q', value='', autocomplete='off', placeholder='Search query')
              #searchTool
                a.ajaxLink(title='Advanced search', href='advanced/', style='display: none;')
                  i.ka.ka-settings
                button(title='search', type='submit', value='', onfocus='this.blur();', onclick='this.blur();')
                  i.ka.ka-search
          ul#navigation
            li
              a(href='browse/')
                i.ka.ka-torrent
                span.menuItem browse
              ul.dropdown.dp-middle.dropdown-msg.upper
                li.topMsg
                  a(href='?full&latest')
                    i.ka.ka16.ka-torrent
                    | latest
                li.topMsg
                  a(href='?full&Category:movies')
                    i.ka.ka16.ka-movie.lower
                    | Movies
                li.topMsg
                  a(href='?full&Category:tv')
                    i.ka.ka16.ka-movie.lower
                    | TV
                li.topMsg
                  a(href='?full&Category:music')
                    i.ka.ka16.ka-music-note.lower
                    | Music
                li.topMsg
                  a(href='?full&Category:games')
                    i.ka.ka16.ka-settings.lower
                    | Games
                li.topMsg
                  a(href='?full&Category:books')
                    i.ka.ka16.ka-bookmark
                    | Books
                li.topMsg
                  a(href='?full&Category:applications')
                    i.ka.ka16.ka-settings.lower
                    | Apps
                li.topMsg
                  a(href='?full&Category:anime')
                    i.ka.ka16.ka-movie.lower
                    | Anime
                li.topMsg
                  a(href='?full&Category:other')
                    i.ka.ka16.ka-torrent
                    | Other
                li.topMsg
                  a(href='?full&Category:xxx')
                    i.ka.ka16.ka-delete
                    | XXX
            li
              a.community-link(data-nop='', href='community/')
                i.ka.ka-community
                span.menuItem Community
            li
              a.blog-link(data-nop='', href='blog/')
                i.ka.ka-rss.lower
                span.menuItem Blog
            li
              a(data-nop='', href='faq/')
                i.ka.ka-faq.lower
                span.menuItem FAQ
            li.upload-link(style='display: none;')
              a(href='#', onclick='event.preventDefault();$(\'.topic-new\').slideToggle(\'normal\');')
                i.ka.ka-arrow-up.lower
                span.menuItem Upload
            li
              a.button.button-submit.button-certselect.certselect.ajaxLink(data-nop='', href='#')
                i.ka.ka-user.lower
                span.menuItem Register / Sign In
      .pusher
      block tagcloud
        include ./tagcloud.pug
      .mainpart(style='background-color: #fff;')
        block content
