td.sidebarCell
  #sidebar
    div(data-sc-slot='_119b0a17fab5493361a252d04bf527db')
    |     &#x9;
    .spareBlock
      .legend &nbsp;
      |&nbsp;
      div(data-sc-slot='_7063408f1c01d50e0dc2d833186ce962', data-sc-params="{ 'searchQuery': '' }")
    |&nbsp;
    .sliderbox
      a.feed-follow.feed-follow-list(href='#Follow')
        span.text-follow Follow in Newsfeed
        span.text-following Following
        .icon-feed
      |&nbsp;
      .menu.template(style='position: relative;')
        a.menu-item.template(href='#') Template
      |&nbsp;
      p
        strong
          | Forums are currently not implemented! In the meantime you can go to
          a(href='https://katcr.co/community/index.php', target='_blank') katcr.co
          | .
      h3
        a(href='community/') Latest Forum Threads
        i#hideLatestThreads.sliderBoxToggle.ka.ka16.ka-arrow2-up.foldClose
      ul#latestForum.showBlockJS(rel='latestForum')
        li
          a(href='community/show/do-you-think-you-are-missing-cheevo-place-post-them/?unread=17865969')
            i.ka.ka16.ka-community.latest-icon
            p.latest-title
              | Do you think that you are missing a cheevo? This is the place to post them.
          span.explanation
            | by
            span.badgeInline
              span.offline(title='offline')
              |&nbsp;
              span.aclColor_1
                a.plain(href='user/amir2323/') amir2323
            |&nbsp;
            time.timeago(datetime='2016-07-08T10:27:31+00:00') 08 Jul 2016, 10:27
        li
          a(href='community/show/adopt-uploader-program-v13-all-users-help/?unread=17865965')
            i.ka.ka16.ka-community.latest-icon
            p.latest-title
              | **Adopt an uploader Program v13-- For all Users to Help**
          span.explanation
            | by
            span.badgeInline
              span.offline(title='offline')
              |&nbsp;
              span.aclColor_3
                a.plain(href='user/DeadShot101/') DeadShot101
            |&nbsp;
            time.timeago(datetime='2016-07-08T10:24:49+00:00') 08 Jul 2016, 10:24
        li
          a(href='community/show/all-karaoke-requests-here-v2/?unread=17865963')
            i.ka.ka16.ka-community.latest-icon
            p.latest-title
              | All Karaoke Requests Here V2
          span.explanation
            | by
            span.badgeInline
              span.offline(title='offline')
              |&nbsp;
              span.aclColor_1
                a.plain(href='user/jadendragon/') jadendragon
            |&nbsp;
            time.timeago(datetime='2016-07-08T10:23:24+00:00') 08 Jul 2016, 10:23
        li
          a(href='community/show/what-tv-show-are-you-watching-right-now-v5/?unread=17865960')
            i.ka.ka16.ka-community.latest-icon
            p.latest-title
              | What TV show are you watching right now? V5
          | &#x9;&#x9;
          span.explanation
            | by
            span.badgeInline
              span.offline(title='offline')
              |&nbsp;
              span.aclColor_1
                a.plain(href='user/sibolis/') sibolis
            |&nbsp;
            time.timeago(datetime='2016-07-08T10:23:14+00:00') 08 Jul 2016, 10:23
        li
          a(href='community/show/please-request-ebooks-and-audio-books-here-v15/?unread=17865954')
            i.ka.ka16.ka-community.latest-icon
            p.latest-title
              | Please request ebooks and audio books here. V15
          span.explanation
            | by
            span.badgeInline
              span.offline(title='offline')
              |&nbsp;
              span.aclColor_verified
                a.plain(href='user/Dash...-.-.../') Dash...-.-...
            |&nbsp;
            time.timeago(datetime='2016-07-08T10:19:33+00:00') 08 Jul 2016, 10:19
        li
          a(href='community/show/gotta-tech-problem-post-it-here/?unread=17865950')
            i.ka.ka16.ka-community.latest-icon
            p.latest-title
              | Gotta tech problem? Post it here
          span.explanation
            | by
            span.badgeInline
              span.offline(title='offline')
              |&nbsp;
              span.aclColor_2
                a.plain(href='user/LeRalouf/') LeRalouf
            |&nbsp;
            time.timeago(datetime='2016-07-08T10:17:54+00:00') 08 Jul 2016, 10:17
    // div class="sliderbox"
    .sliderbox
      h3
        | Blogroll
        i.sliderBoxToggle.ka.ka16.ka-arrow2-up.foldClose
      ul#blogroll.showBlockJS(rel='blogroll')
        li
          a(href='blog/TheDels/post/me-and-andrade-by-blitzmitzvah/')
            i.ka.ka16.ka-rss.latest-icon
            p.latest-title  Me and Andrade by blitzmitzvah
          span.explanation
            | by
            a.plain.aclColor_(href='user/TheDels/') TheDels
            |&nbsp;
            time.timeago(datetime='2016-07-08T08:00:20+00:00') 08 Jul 2016, 08:00
        li
          a(href='blog/The_Ponderer/post/they-need-never-shudder-again-at-the-memory-of-traumas-euro-2016-2nd-semifinal/')
            i.ka.ka16.ka-rss.latest-icon
            p.latest-title
              | They need never shudder again at the memory of traumas - Euro 2016 2nd SEMIFINAL
          span.explanation
            | by
            a.plain.aclColor_(href='user/The_Ponderer/') The_Ponderer
            |&nbsp;
            time.timeago(datetime='2016-07-08T07:14:58+00:00') 08 Jul 2016, 07:14
        li
          a(href='blog/olderthangod/post/the-biggest-miscast-in-cinema-history/')
            i.ka.ka16.ka-rss.latest-icon
            p.latest-title  The Biggest Miscast in Cinema History.
          span.explanation
            | by
            a.plain.aclColor_(href='user/olderthangod/') olderthangod
            |&nbsp;
            time.timeago(datetime='2016-07-07T22:18:35+00:00') 07 Jul 2016, 22:18
        li
          a(href='blog/SPirate/post/food-food-lovely-food-d/')
            i.ka.ka16.ka-rss.latest-icon
            p.latest-title  Food Food, Lovely Food :D
          span.explanation
            | by
            a.plain.aclColor_(href='user/SPirate/') SPirate
            |&nbsp;
            time.timeago(datetime='2016-07-07T16:46:16+00:00') 07 Jul 2016, 16:46
        li
          a(href='blog/Longinus369/post/all-apologies/')
            i.ka.ka16.ka-rss.latest-icon
            p.latest-title  ALL APOLOGIES
          span.explanation
            | by
            a.plain.aclColor_(href='user/Longinus369/') Longinus369
            |&nbsp;
            time.timeago(datetime='2016-07-07T15:42:56+00:00') 07 Jul 2016, 15:42
        li
          a(href='blog/MoodieMimi/post/my-love-%EB%82%98%EC%9D%98-%EC%82%AC%EB%9E%91-seonata/')
            i.ka.ka16.ka-rss.latest-icon
            p.latest-title  My Love &#xB098;&#xC758; &#xC0AC;&#xB791; [Seonata]
          span.explanation
            | by
            a.plain.aclColor_(href='user/MoodieMimi/') MoodieMimi
            |&nbsp;
            time.timeago(datetime='2016-07-07T10:44:39+00:00') 07 Jul 2016, 10:44
    // div class="sliderbox"
    .sliderbox
      h3
        | Goodies
        i.sliderBoxToggle.ka.ka16.ka-arrow2-up.foldClose
      ul#goodies.showBlockJS(rel='goodies')
        li
          a(data-nop='', target='_blank', rel='external', href='http://addons.mozilla.org/en-US/firefox/addon/11412')
            span.ifirefox.thirdPartIcons
            | Firefox search plugin
        li
          a(data-nop='', target='_blank', rel='external', href='http://twitter.com/kickasstorrents')
            span.ifollow.thirdPartIcons
            | Follow us on Twitter
        li
          a(data-nop='', target='_blank', rel='external', href='blog/post/30/')
            span.ikat.thirdPartIcons
            | Kickass wallpapers
        li
          a(data-nop='', target='_blank', rel='external', href='http://www.facebook.com/official.KAT.fanclub')
            span.ifacebook.thirdPartIcons
            | Like us on Facebook
    // div class="sliderbox"
    .sliderbox
      //
        To Do:
        * What to do about this section?
        * Logging searches will likely be excessive and unecessary.
      h3
        | Latest Searches
        i.sliderBoxToggle.ka.ka16.ka-arrow2-up.foldClose
      ul#latestSearches.showBlockJS(rel='latestSearches')
        li
          a(href='search/skyrim/')
            i.ka.ka16.ka-zoom.latest-icon
            p.latest-title
              | skyrim
          span.explanation just&nbsp;now
        li
          a(href='search/game%20of%20thrones%20s05e01%20mp4/')
            i.ka.ka16.ka-zoom.latest-icon
            p.latest-title
              | game of thrones s05e01 mp4
          span.explanation just&nbsp;now
        li
          a(href='search/clubland/')
            i.ka.ka16.ka-zoom.latest-icon
            p.latest-title
              | clubland
          span.explanation just&nbsp;now
        li
          a(href='search/dexter%20s08e10%20vostfr/')
            i.ka.ka16.ka-zoom.latest-icon
            p.latest-title
              | dexter s08e10 vostfr
          span.explanation just&nbsp;now
        li
          a(href='search/blacksonmoms/')
            i.ka.ka16.ka-zoom.latest-icon
            p.latest-title
              | BlacksOnMoms
          span.explanation just&nbsp;now
        li
          a(href='search/tory%20lanez%20la/')
            i.ka.ka16.ka-zoom.latest-icon
            p.latest-title
              | tory lanez LA
          span.explanation just&nbsp;now
        li
          a(href='search/grey%27s%20anatomy%20s03e02/')
            i.ka.ka16.ka-zoom.latest-icon
            p.latest-title
              | grey&apos;s anatomy s03e02
          span.explanation just&nbsp;now
        li
          a(href='search/yify/')
            i.ka.ka16.ka-zoom.latest-icon
            p.latest-title
              | yify
          span.explanation just&nbsp;now
        li
          a(href='search/game%20of%20thrones%20season%203/')
            i.ka.ka16.ka-zoom.latest-icon
            p.latest-title
              | Game of thrones Season 3
          span.explanation just&nbsp;now
        li
          a(href='search/castle%20s08e16/')
            i.ka.ka16.ka-zoom.latest-icon
            p.latest-title
              | castle s08e16
          span.explanation just&nbsp;now
        li
          a(href='search/silik/')
            i.ka.ka16.ka-zoom.latest-icon
            p.latest-title
              | silik
          span.explanation just&nbsp;now
    // div class="sliderbox"
    .sliderbox
      h3
        | Friends Links
        i.sliderBoxToggle.ka.ka16.ka-arrow2-up.foldClose
      |&nbsp;
      ul#friendsLinks.showBlockJS(rel='friendsLinks')
        li
          a(data-nop='', href='http://torrents.to/', target='_blank', rel='external')
            span.itorrentsto.thirdPartIcons
            | Torrents.to
        li
          a(data-nop='', href='http://www.torrentdownloads.net/', target='_blank', rel='external')
            span.itorrentdownloads.thirdPartIcons
            | Torrent Downloads
        li
          a(data-nop='', href='http://torrent-finder.info/', target='_blank', rel='external')
            span.itorrentfinder.thirdPartIcons
            | Torrent Finder
    // div class="sliderbox"
  a#showsidebar.showSidebar(onclick='showSidebar();', style='display:none;')
