// BEGIN TAG CLOUD
//
  To Do:
  * Don't hard code the tag cloud do something clever to generate it regularly
#tagcloud.tagcloud
  a.tag3(href='#') 1080p
  | &#x9;
  a.tag1(href='#') 2015
  | &#x9;
  a.tag4(href='#') 2016
  | &#x9;
  a.tag2(href='#') 3d
  | &#x9;
  a.tag3(href='#') 720p 1080p
  | &#x9;
  a.tag2(href='#') bajskorv
  | &#x9;
  a.tag1(href='#') batv
  | &#x9;
  a.tag2(href='#') crimson
  | &#x9;
  a.tag2(href='#') dhd
  | &#x9;
  a.tag1(href='#') discography
  | &#x9;
  a.tag1(href='#') doom
  | &#x9;
  a.tag2(href='#') dual audio hindi
  | &#x9;
  a.tag1(href='#') family guy
  | &#x9;
  a.tag5(href='#') fear the walking dead
  | &#x9;
  a.tag3(href='#') fear the walking dead s02e06
  | &#x9;
  a.tag1(href='#') french
  | &#x9;
  a.tag10(href='#') game of thrones
  | &#x9;
  a.tag3(href='#') game of thrones s06
  | &#x9;
  a.tag2(href='#') game of thrones s06e03
  | &#x9;
  a.tag10(href='#') game of thrones s06e04
  | &#x9;
  a.tag2(href='#') game of thrones season 6
  | &#x9;
  a.tag5(href='#') hindi
  | &#x9;
  a.tag1(href='#') hindi 2016
  | &#x9;
  a.tag6(href='#') house of cards s04
  | &#x9;
  a.tag9(href='#')
  | &#x9;
  a.tag2(href='#') malayalam
  | &#x9;
  a.tag8(href='#') nezu
  | &#x9;
  a.tag2(href='#') once upon a time
  | &#x9;
  a.tag2(href='#') penny dreadful
  | &#x9;
  a.tag2(href='#') penny dreadful s03e03
  | &#x9;
  a.tag2(href='#') quantico
  | &#x9;
  a.tag1(href='#') river
  | &#x9;
  a.tag2(href='#') silicon valley
  | &#x9;
  a.tag2(href='#') silicon valley s03e04
  | &#x9;
  a.tag2(href='#') tamil
  | &#x9;
  a.tag2(href='#') telugu
  | &#x9;
  a.tag2(href='#') the walking dead
  | &#x9;
  a.tag2(href='#') tla
  | &#x9;
  a.tag2(href='#') x264 2hd
  | &#x9;
  a.tag3(href='#') x264 720p hdtv
  | &#x9;
  a.tag3(href='#') x264 720p
  | &#x9;
  a.tag3(href='#') x264 dimension
  | &#x9;
  a.tag4(href='#') x264 hdtv
  | &#x9;
  a.tag10(href='#') x264
  | &#x9;
  a.tag3(href='#') x264 killers
  | &#x9;
  a.tag4(href='#') x264 lol
  | &#x9;
  a.tag4(href='#') yify
  | &#x9;
  a.tag1(href='#') yify 720p
// END TAG CLOUD
//
  To Do:
  * Fix this god awful onclick attribute, at least move it to a function or something...
a.line50perc.showmore.botmarg0(onclick="$('#tagcloud').slideToggle('normal');$('.line50perc.showmore.botmarg0').attr('title', (($('.line50perc.showmore.botmarg0').attr('title').indexOf('hide') > -1) ? 'show tagcloud' : 'hide tagcloud'));if($('.line50perc.showmore.botmarg0').attr('title').indexOf('show') > -1) { $('.showmore span').text('▼'); } else { $('.showmore span').text('▲'); }", title='hide tagcloud')
  span.font80perc &#x25B2;
