// Comments
.comments.center
  // Template: Comment
  .comment.template
    .info
      span.user_name user_name
      |     &#x2501;
      |     
      span.added added
      |     
      a.score(href='#Upvote')
        span.score-inactive
          span.icon-up ^
          span.score-num 1
        |      
        span.score-active
          span.icon-up ^
          span.score-num 2
      |     
      a.reply(href='#Reply')
        .icon.icon-reply
        |  
        span.reply-text Reply
    |    
    .body Body
  // EOF Template: Comment
