extends ./layouts/layout-sidebar.pug

block content
  table.doublecelltable(cellpadding='0', cellspacing='0', width='100%')
    tbody
      tr
        td(width='100%')
          h2
            a.plain(href='movies/') Movies Torrents
            |&nbsp;
            a.ka.ka16.ka-rss.normalText.rsssign.ka-red(target='_blank', href='movies/?rss=1', title='category feed')
          div
            table#latestMovies.data.frontPageWidget(style='width: 100%', cellpadding='0', cellspacing='0')
              tbody
                tr.firstr
                  th.width100perc.nopad
                    a.fpw-sort torrent name
                  th.center
                    a.fpw-sort size
                  th.center
                    a.fpw-sort files
                  th.center
                    a.fpw-sort age
                  th.center
                    a.fpw-sort seed
                  th.lasttd.nobr.center
                    a.fpw-sort leech
            h2
              a.plain(href='tv/') TV Shows Torrents
              |&nbsp;
              a.ka.ka16.ka-rss.normalText.rsssign.ka-red(target='_blank', href='tv/?rss=1', title='category feed')
            div
              table#latestTv.data.frontPageWidget(style='width: 100%', cellpadding='0', cellspacing='0')
                tbody
                  tr.firstr
                    th.width100perc.nopad
                      a.fpw-sort torrent name
                    th.center
                      a.fpw-sort size
                    th.center
                      a.fpw-sort files
                    th.center
                      a.fpw-sort age
                    th.center
                      a.fpw-sort seed
                    th.lasttd.nobr.center
                      a.fpw-sort leech
              h2
                a.plain(href='music/') Music Torrents
                |&nbsp;
                a.ka.ka16.ka-rss.normalText.rsssign.ka-red(target='_blank', href='music/?rss=1', title='category feed')
              div
                table#latestMusic.data.frontPageWidget(style='width: 100%', cellpadding='0', cellspacing='0')
                  tbody
                    tr.firstr
                      th.width100perc.nopad
                        a.fpw-sort torrent name
                      th.center
                        a.fpw-sort size
                      th.center
                        a.fpw-sort files
                      th.center
                        a.fpw-sort age
                      | &#x9;&#x9;&#x9;
                      th.center
                        a.fpw-sort seed
                      | &#x9;&#x9;&#x9;
                      th.lasttd.nobr.center
                        a.fpw-sort leech
                h2
                  a.plain(href='games/') Games Torrents
                  |&nbsp;
                  a.ka.ka16.ka-rss.normalText.rsssign.ka-red(target='_blank', href='games/?rss=1', title='category feed')
                div
                  table#latestGames.data.frontPageWidget(style='width: 100%', cellpadding='0', cellspacing='0')
                    tbody
                      tr.firstr
                        th.width100perc.nopad
                          a.fpw-sort torrent name
                        | &#x9;&#x9;&#x9;
                        th.center
                          a.fpw-sort size
                        | &#x9;&#x9;&#x9;
                        th.center
                          a.fpw-sort files
                        | &#x9;&#x9;&#x9;
                        th.center
                          a.fpw-sort age
                        | &#x9;&#x9;&#x9;
                        th.center
                          a.fpw-sort seed
                        | &#x9;&#x9;&#x9;
                        th.lasttd.nobr.center
                          a.fpw-sort leech
                  h2
                    a.plain(href='applications/') Applications Torrents
                    |&nbsp;
                    a.ka.ka16.ka-rss.normalText.rsssign.ka-red(target='_blank', href='applications/?rss=1', title='category feed')
                  div
                    table#latestApplications.data.frontPageWidget(style='width: 100%', cellpadding='0', cellspacing='0')
                      tbody
                        tr.firstr
                          th.width100perc.nopad
                            a.fpw-sort torrent name
                          th.center
                            a.fpw-sort size
                          th.center
                            a.fpw-sort files
                          th.center
                            a.fpw-sort age
                          th.center
                            a.fpw-sort seed
                          th.lasttd.nobr.center
                            a.fpw-sort leech
                    h2
                      a.plain(href='anime/') Anime Torrents
                      |&nbsp;
                      a.ka.ka16.ka-rss.normalText.rsssign.ka-red(target='_blank', href='anime/?rss=1', title='category feed')
                    div
                      table#latestAnime.data.frontPageWidget(style='width: 100%', cellpadding='0', cellspacing='0')
                        tbody
                          tr.firstr
                            th.width100perc.nopad
                              a.fpw-sort torrent name
                            th.center
                              a.fpw-sort size
                            th.center
                              a.fpw-sort files
                            th.center
                              a.fpw-sort age
                            th.center
                              a.fpw-sort seed
                            th.lasttd.nobr.center
                              a.fpw-sort leech
                      h2
                        a.plain(href='books/') Books Torrents
                        |&nbsp;
                        a.ka.ka16.ka-rss.normalText.rsssign.ka-red(target='_blank', href='books/?rss=1', title='category feed')
                      div
                        table#latestBooks.data.frontPageWidget(style='width: 100%', cellpadding='0', cellspacing='0')
                          tbody
                            tr.firstr
                              th.width100perc.nopad
                                a.fpw-sort torrent name
                              th.center
                                a.fpw-sort size
                              th.center
                                a.fpw-sort files
                              th.center
                                a.fpw-sort age
                              th.center
                                a.fpw-sort seed
                              th.lasttd.nobr.center
                                a.fpw-sort leech
                        h2
                          a.plain(href='lossless/') Lossless Music Torrents
                          |&nbsp;
                          a.ka.ka16.ka-rss.normalText.rsssign.ka-red(target='_blank', href='lossless/?rss=1', title='category feed')
                        div
                          table#latestLosslessMusic.data.frontPageWidget(style='width: 100%', cellpadding='0', cellspacing='0')
                            tbody
                              tr.firstr
                                th.width100perc.nopad
                                  a.fpw-sort torrent name
                                th.center
                                  a.fpw-sort size
                                th.center
                                  a.fpw-sort files
                                th.center
                                  a.fpw-sort age
                                th.center
                                  a.fpw-sort seed
                                th.lasttd.nobr.center
                                  a.fpw-sort leech
                          script(type='text/javascript').
                            /*
                            To Do:
                            * Add back cookie / local storage saving of sorting using whatever the best practice is for ZeroNet
                            */
                            var _int = setInterval(function(){
                            if($) { clearInterval(_int); } else { return; }
                            //$.cookie('kat_settings[fpw_column]') != null && $.cookie('kat_settings[fpw_order]')
                            if (true) {
                            //var colIndex = $.cookie('kat_settings[fpw_column]')
                            //var ascend = $.cookie('kat_settings[fpw_order]');
                            var colIndex = 3;
                            var ascend = 0;
                            $('.frontPageWidget').each(function() {
                            $(this).find('.firstr th .fpw-sort:eq('+colIndex+')').addClass((ascend ? 'sortedAsc' : 'sortedDesc'));
                            });
                            sortTables(colIndex, ascend);
                            }
                            $('.frontPageWidget .firstr th .fpw-sort').click(function() {
                            var colIndex = $(this).parent().index();
                            var ascend = !$(this).hasClass('sortedAsc')?1:0;
                            $('.fpw-sort').removeClass('sortedAsc sortedDesc');
                            $('.frontPageWidget').each(function() {
                            $(this).find('.firstr th .fpw-sort:eq('+colIndex+')').addClass((ascend ? 'sortedAsc' : 'sortedDesc'));
                            });
                            updateFPWsettings(colIndex, ascend);
                            sortTables(colIndex, ascend);
                            });
                            function sortTables(colIndex, ascend) {
                            $('.frontPageWidget').each(function() {
                            var data = [];
                            $('tr:not(.firstr)', $(this)).each(function() {
                            var name = $('td:first .cellMainLink', $(this)).text();
                            var id = $('td:first .cellMainLink', $(this)).attr('href').match(/.*-t(\\d+)\.html/)[1];
                            var fileSize = $('td:eq(1)', $(this)).attr('data-sort');
                            data.push({
                            'col0':name, 'col1':padNum(fileSize), 'col2':padNum($('td:eq(2)',$(this)).text()), 'col3':padNum(id), 'col4':padNum($('td:eq(4)',$(this)).text()), 'col5':padNum($('td:eq(5)',$(this)).text()), 'html':$(this).html()
                            });
                            });
                            data.sort(function(a, b) {
                            var x = a['col'+colIndex].toLowerCase(); var y = b['col'+colIndex].toLowerCase();
                            return ((x < y) ? -1 : ((x > y) ? 1 : 0));
                            });
                            if (!ascend||ascend=='0') data.reverse();
                            $(this).find('tr:not(.firstr)').remove();
                            for (var i=0;i<data.length;i++) {
                            $(this).append('<tr class="'+((i+1)%2==0?'even':'odd')+'">'+data[i].html+'</tr>');
                            }
                            });
                            }
                            function padNum(val) {
                            val = '0000000000000000'+val;
                            return val.substring(val.length-15);
                            }
                            function updateFPWsettings(t, o) {
                            //$.cookie('kat_settings[fpw_column]', t, { expires: 365, path: '/' });
                            //$.cookie('kat_settings[fpw_order]', o, { expires: 365, path: '/' });
                            }
                            }, 100);
        block sidebar
          include ./layouts/sidebar.pug
