.landing-header(style="overflow: hidden;")
  .land-switch(style="float: left;")
    a(href="?full")
      | Switch to full page
  | &#x9;
  .land-login(style="float: right;")
    a.button.button-submit.button-certselect.certselect.ajaxLink(data-nop="", href="#")
      i.ka.ka-user
      | &#x9;&#x9;&#x9;
      span Register / Sign In
.land-content(style="padding-top: 18.6%;")
  a(href="?full")
    .land-logo-sign
  | &#x9;
  a(href="?full")
    .land-logo-text
  | &#x9;
  .land-search-input
    form#landingSearchform(action="/", method="get", accept-charset="utf-8")
      input#contentSearch.input-big.ui-autocomplete-input(type="text", name="q", value="", autocomplete="off", placeholder="Search query")
      | &#x9;&#x9;&#x9;
      #searchTool
        a.ajaxLink(data-nop="", title="Advanced search", href="advanced/", style="display: none;")
          i.ka.ka-settings
        | &#x9;&#x9;&#x9;
        button#landingSearchFormSubmit(data-nop="", title="search", type="submit", value="", onfocus="this.blur();return false;", onclick="this.blur(); return document.forms.landingSearchform.q.value.length > 0);")
          i.ka.ka-search
  | &#x9;
  ul.land-nav
    li
      a(href="?full&Category:movies")
        | Movies
    | &#x9;&#x9;
    li
      a(href="?full&Category:tv")
        | TV
    | &#x9;&#x9;
    li
      a(href="?full&Category:games")
        | Games
    | &#x9;&#x9;
    li
      a(href="?full&Category:music")
        | Music
    | &#x9;&#x9;
    li
      a(href="?full")
        | New
    | &#x9;&#x9;
    li
      a(href="?full&browse")
        | browse
.bottom-menu-block
  ul.social-buttons
  ul.bottom-menu(style="position: fixed; right: 1em; top: 94.65vh;")
    li
      a(data-nop="", href="https://katcr.co/community/index.php", target="_blank")
        i.ka.ka-community
        | Community
    | &#x9;&#x9;
    li
      a.capital(data-nop="", href="blog/")
        i.ka.ka-rss
        | blog
    | &#x9;&#x9;
    li
      a(data-nop="", href="faq/")
        i.ka.ka-faq
        | FAQ
    | &#x9;&#x9;
    li
      a(data-nop="", href="https://kastatus.com/")
        i.ka.ka-star
        | Status
script(type="text/javascript", charset="utf-8").
  $(document).ready(function() {  $("#contentSearch").focus(); });
