extends ./layouts/layout-sidebar.pug

block tagcloud
block content
    script().
      $(function() {
      $('#desc img').each(function() {
      if ($(this).attr('width') > '620')  {
      $(this).attr('width','620');
      }
      $(this).removeAttr('height');
      });
      });
    table#mainDetailsTable.doublecelltable.width100perc(cellspacing='0', cellpadding='0')
      tr
        td(width='100%')
          .goodFake(itemscope='', itemtype='http://schema.org/AggregateRating')
            meta(itemprop='ratingValue', content='9')
            meta(itemprop='bestRating', content='10')
            meta(itemprop='ratingCount', content='1476')
            .floatleft.inlineblock
              a#thnxLink.ajaxLink.not-implemeneted(title='Good', data-hash='#', href='auth/login/')
                span.block.relative
                  span.thnx
                  span.siteButton.torrentfingers
                span#thnxCount.siteButton.smallButton
                  span.not-implemeneted +0
            .floatright.inlineblock
              a#fakeLink.ajaxLink.not-implemeneted(title='Bad', data-hash='#', href='auth/login/')
                span.block.relative
                  span.fake
                  span.siteButton.redButton.torrentfingers
                span#fakeCount.siteButton.smallButton.redButton
                  span -0
            br
            a#report_button.kaButton.smallButton.normalText.redButton.ajaxLink.center.not-implemeneted(href='auth/login/')
              i.ka.ka-report
              | report
          | &#x9;&#x9;&#x9;&#x9;
          div.topics-full
            div.topic.topic-full
              h1.title.novertmarg
                a.title-link(href='#')
                  span(itemprop='name') &nbsp;
              a.comment-num(href='#')
              .seedLeachContainer
                .seedBlock
                  i.ka.kaBox.ka-arrow-up
                  | seeders:
                  strong.torrent-seeders
                | &#x9;&#x9;&#x9;&#x9;
                .leechBlock
                  i.ka.kaBox.ka-arrow-down
                  | leechers:
                  strong.torrent-leechers
                | &#x9;&#x9;&#x9;&#x9;
                //- .timeBlock
                //-   i.ka.kaBox.ka-poll
                //-   | updated:
                //-   time.timeago(datetime='2016-07-10T20:04:16+00:00') 10 Jul 2016, 20:04
              .buttonsline.downloadButtonGroup.clearleft.novertpad
                //- a.kaGiantButton.ajaxLink(title='Add torrent to personal RSS', href='bookmarks/add/rss/C2FADAB194E430B155B5F28941145578069FA43B/')
                //-   i.ka.ka-rss
                //- a.kaGiantButton.ajaxLink(title='Add to bookmarks', href='bookmarks/add/torrent/C2FADAB194E430B155B5F28941145578069FA43B/')
                //-   i.ka.ka-follow
                a.kaGiantButton.magnet_link(data-nop='', title='Magnet link', href='magnet:?xt=urn:btih:C2FADAB194E430B155B5F28941145578069FA43B&dn=the+legend+of+tarzan+2016+hd+ts+x264+cpg&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce')
                  i.ka.ka-magnet
                //- a.kaGiantButton.siteButton.iconButton...
                a.kaGiantButton.siteButton.torrentfile_link(data-download='', rel='nofollow', title='Download verified torrent file', href='/web/20160710223642/https://torcache.net/torrent/C2FADAB194E430B155B5F28941145578069FA43B.torrent?title=[kat.cr]the.legend.of.tarzan.2016.hd.ts.x264.cpg')
                  //- i.ka.ka-verify
                  span Download torrent
                .inlineblock(data-sc-replace='', data-sc-slot='_b6f619f42a2411c6688f2273fa3f628a', data-sc-params="{ 'magnet': 'magnet:?xt=urn:btih:C2FADAB194E430B155B5F28941145578069FA43B&dn=the+legend+of+tarzan+2016+hd+ts+x264+cpg&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce', 'extension': 'mkv', 'stream': 'magnet:?xt=urn:btih:80EE7CBDC3BF062731A8F89CAAB488A8445B6494&dn=the+legend+of+tarzan+2016+hd+ts+600+mb+iextv&tr=udp%3A%2F%2Ftracker.publicbt.com%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce' }")
                div(data-sc-slot='_74537daaf40605219cf5abec7e57e932')
              .block.botmarg5px(data-sc-slot='_ad4d917f2e764fab63b916b5e0655d2e')
              div(data-sc-slot='_151f50b61bb9a7633562d3f308691182')
              |             &#x9;&#x9;&#x9;&#x9;&#x9;
              .font11px.lightgrey.line160perc
                | Added&nbsp;
                time.timeago.added(datetime='') &nbsp;
                |  by&nbsp;
                span.badgeInline
                  span.offline(title='offline')
                  span.aclColor_2
                    a.plain.user_name(href='#') &nbsp;
                  span.repValue.positive(title='Reputation') 80085
                |  in&nbsp;
                span#cat_12901192
                  strong
                    a.torrent_category(href='#') &nbsp;
                | &#x9;
                br
            //- | &#x9;Torrent verified.&#x9;Downloaded 160,164 times.
          .tabs.tabSwitcher
            ul.tabNavigation
              li
                a.darkButton(href='#main', rel='main')
                  span Main
              li
                a.darkButton(href='#technical', rel='technical')
                  span Technical
              //- li.hideInOpera
              //-   a#trailer_link.darkButton(href='#trailer', rel='trailer')
              //-     span Trailer
              li
                a.darkButton(href='#comment', rel='comment')
                  span
                    | Comments
                    //- i.menuValue 522
            | &#x9;&#x9;&#x9;&#x9;
            hr.tabsSeparator
            #tab-main.contentTabContainer
              div(data-sc-slot='_2bffc94164dd9984ae4826e8bc988721', data-sc-params="{ 'media_name': 'The Legend of Tarzan', 'imdbid': '0918940', 'stream': 'magnet:?xt=urn:btih:80EE7CBDC3BF062731A8F89CAAB488A8445B6494&dn=the+legend+of+tarzan+2016+hd+ts+600+mb+iextv&tr=udp%3A%2F%2Ftracker.publicbt.com%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce' }")
              div(data-sc-slot='_b7a12a7cecbd73f6bff2f37beef2fc70')
              div(data-sc-slot='_a9e9a2ddbd3b122e88da26e0139d9627')
              |                                         &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .torrentMediaInfo
                a.movieCover(href='the-legend-of-tarzan-i0918940/')
                  img(src='content/content/images/blank.gif')
                .dataList
                  ul.block.overauto.botmarg0
                    li
                      //- strong Movie:
                      //- a(href='the-legend-of-tarzan-i0918940/')
                      //-   span The Legend of Tarzan
                    // To Do: Add some javascript to attempt to detect the quality based on the filenamem
                    //- li
                    //-   strong Detected quality:
                    //-   span#quality_12901192 TeleSync
                    li
                      //- strong IMDb link:
                      //- a.plain(href='http://www.imdb.com/title/tt0918940/') 0918940
                    li
                      //- strong IMDb rating:
                      //- |  7.6 (541 votes)
                    li
                      //- strong Genres:
                      //- a.plain(href='movies/genre/action/')
                      //-   span Action
                      //- | ,
                      //- a.plain(href='movies/genre/adventure/')
                      //-   span Adventure
                  ul
                  //-   li
                  //-     a.ajaxLink.kaButton.smallButton.normalText(href='bookmarks/add/movie/0918940/')
                  //-       i.ka.ka-bookmark
                  //-       |  add
                  //-       strong The Legend of Tarzan
                  //-       |  to bookmarks
                  //-   li
                  //-     strong Release date:
                  //-     |  01 July 2016
                  //-   li
                  //-     strong Writers:
                  //-     |  Adam Cozad (screenplay), Craig Brewer (screenplay), Craig Brewer (story by), Adam Cozad (story by), Edgar Rice Burroughs (Based on the&apos;Tarzan&apos; stories created by)
                  //-   li
                  //-     strong Director:
                  //-     span
                  //-       a(href='movies/director/david-yates-a0946733/') David Yates
                  //-   li.data_lang
                  //-     strong Language:
                  //-     span#lang_12901192_2
                  //-       | English
                  //- .floatleft.width100perc.botmarg10px
                  //-   strong Cast:
                  //-   span
                  //-     a(href='movies/actor/samuel-l-jackson-a0000168/') Samuel L. Jackson
                  //-   | ,
                  //-   span
                  //-     a(href='movies/actor/alexander-skarsg-xe5-rd-a0002907/') Alexander Skarsg&aring;Rd
                  //-   | ,
                  //-   span
                  //-     a(href='movies/actor/christoph-waltz-a0910607/') Christoph Waltz
                  //-   | ,
                  //-   span
                  //-     a(href='movies/actor/margot-robbie-a3053338/') Margot Robbie
                  //-   |  and others
                  //- .floatleft.width100perc.botmarg10px
                  //-   strong Summary:
                  //-   #summary
                  //-     p.accentbox.botmarg10px
                  //-       |&nbsp;
                  //-       br
                  //-     strong
                  //-       small
                  //-         | Written by
                  //-         span.badgeInline
                  //-           span.offline(title='offline')
                  //-           span.aclColor_3
                  //-             a.plain(href='user/Anette14/') Anette14
                  //-           span.repValue.positive(title='Reputation') 151.17K
                  //-     span.font11px.lightgrey.italic
                  //-       | Last edited by
                  //-       span.badgeInline
                  //-         span.offline(title='offline')
                  //-         span.aclColor_4
                  //-           a.plain(href='user/zoone/') zoone
                  //-       | , yesterday
                  //- .pages.marg0.floatleft
                  //-   strong.botpad5px.block Available in versions:
                  //-   a.turnoverButton.siteButton.bigButton(href='the-legend-of-tarzan-i0918940/#HDTC') HDTC
                  //-   a.turnoverButton.siteButton.bigButton(href='the-legend-of-tarzan-i0918940/#x264') x264
                  //-   a.turnoverButton.siteButton.bigButton(href='the-legend-of-tarzan-i0918940/#x265') x265
                  //-   a.turnoverButton.siteButton.bigButton(href='the-legend-of-tarzan-i0918940/#Screener') Screener
                  //-   a.turnoverButton.siteButton.bigButton.active(href='the-legend-of-tarzan-i0918940/#TeleSync') TeleSync
                  //-   a.turnoverButton.siteButton.bigButton(href='the-legend-of-tarzan-i0918940/#Cam') Cam
                // div class="dataList"
                div(data-sc-slot='_dbc16052c4a6e4345512d6d017ae3a57', data-sc-params="{ 'media_name': 'The Legend of Tarzan', 'imdbid': '0918940' }")
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //- .torrent_files
              //-   span.folderopen
              //-     span.foldericon
              //-     a.dotted(href='#', onclick="Toggle('ul_top', this);return false;", title='The Legend of Tarzan 2016 HD-TS x264-CPG') The Legend of Tarzan 2016 HD-TS x264-CPG
              //-     |  (Size: 1.75
              //-     span GB
              //-     | )
              //-   | &#x9;
              //-   #torrent_files
              //-     table#ul_top.torrentFileList(cellpadding='0', cellspacing='0', width='100%')
              //-       tr
              //-         td.torTree &nbsp;
              //-         | &#x9;&#x9;&#x9;
              //-         td.torFileIcon
              //-           span.torType.filmType
              //-         | &#x9;&#x9;&#x9;
              //-         td.torFileName(title='sample.mkv') sample.mkv
              //-         | &#x9;&#x9;&#x9;
              //-         td.torFileSize
              //-           | 15.18
              //-           span MB
              //-       | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //-       tr
              //-         td.torTree &nbsp;
              //-         | &#x9;&#x9;&#x9;
              //-         td.torFileIcon
              //-           span.torType.filmType
              //-         | &#x9;&#x9;&#x9;
              //-         td.torFileName(title='The Legend of Tarzan 2016 HD-TS x264-CPG.mkv') The Legend of Tarzan 2016 HD-TS x264-CPG.mkv
              //-         | &#x9;&#x9;&#x9;
              //-         td.torFileSize
              //-           | 1.74
              //-           span GB
              //-       | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //-       tr.last
              //-         td.torTree &nbsp;
              //-         | &#x9;&#x9;&#x9;
              //-         td.torFileIcon
              //-           span.torType.txtType
              //-         | &#x9;&#x9;&#x9;
              //-         td.torFileName(title='Torrent Downloaded From ExtraTorrent.cc.txt') Torrent Downloaded From ExtraTorrent.cc.txt
              //-         | &#x9;&#x9;&#x9;
              //-         td.torFileSize
              //-           | 338
              //-           span bytes
              //- |                 &#x9;&#x9;&#x9;&#x9;&#x9;
              .data
                h2 Description
                | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
                #desc.textcontent
                  div.topics-full
                    | <div class="topic topic-full">
                    |  <a href="#" class="image nolink"><div class="icon icon-topic-chat"></div></a>
                    //- |  <a href="#Follow" class="feed-follow feed-follow-show"><span class='text-follow'>Follow in Newsfeed</span><span class='text-following'>Following</span><div class="icon-feed"></div></a>
                    |  <h2 class="title"><a href="#" class="title-link">Title</a></h2>
                    |  <div class="body">Body</div>
                    |  <div class="info">
                    //- |    <a class="score" href="#Upvote">
                    //- |     <span class="score-inactive"> <span class="icon-up">^</span><span class="score-num">?</span> </span>
                    //- |     <span class="score-active"> <span class="icon-up">^</span><span class="score-num">0</span> </span>
                    //- |    </a>
                    |   <span class="user_name">username</span> posted <span class="added">added</span>
                    |  </div>
                    | </div>
              //- | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;            &#x9;
              //- h2 Related Torrents
              //- | &#x9;
              //- table.data(cellpadding='0', cellspacing='0', style='width: 100%')
              //-   tr.firstr
              //-     th.width100perc.nopad torrent name
              //-     |         &#x9;&#x9;&#x9;
              //-     th.center size
              //-     | &#x9;&#x9;&#x9;
              //-     th.center files
              //-     | &#x9;&#x9;&#x9;
              //-     th.center age
              //-     | &#x9;&#x9;&#x9;
              //-     th.center seed
              //-     | &#x9;&#x9;&#x9;
              //-     th.lasttd.nobr.center leech
              //-   | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //-   tr#torrent_related_torrents12879469.odd
              //-     td
              //-       .iaconbox.center.floatright
              //-         a.icommentjs.kaButton.smallButton.rightButton(rel='12879469,0', href='the-legend-of-tarzan-2016-cam-rip-russian-t12879469.html#comment')
              //-           | 6
              //-           i.ka.ka-comment
              //-         | &#x9;&#x9;&#x9;&#x9;
              //-         a.icon16(href='the-legend-of-tarzan-2016-cam-rip-russian-t12879469.html', title='Verified Torrent')
              //-           i.ka.ka16.ka-verify.ka-green
              //-         .none(data-sc-replace='', data-sc-slot='_ae58c272c09a10c792c6b17d55c20208', data-sc-params="{ 'name': 'The%20Legend%20of%20Tarzan%20%282016%29%20CAM-Rip%20%5BRUSSIAN%5D', 'extension': 'avi', 'magnet': 'magnet:?xt=urn:btih:EEAECC39306646DA3CCF0B07150C36BA00178FB4&dn=the+legend+of+tarzan+2016+cam+rip+russian&tr=udp%3A%2F%2Ftracker.publicbt.com%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce' }")
              //-         a.icon16(data-nop='', title='Torrent magnet link', href='magnet:?xt=urn:btih:EEAECC39306646DA3CCF0B07150C36BA00178FB4&dn=the+legend+of+tarzan+2016+cam+rip+russian&tr=udp%3A%2F%2Ftracker.publicbt.com%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce')
              //-           i.ka.ka16.ka-magnet
              //-         a.icon16(data-download='', title='Download torrent file', href='/web/20160710223642/https://torcache.net/torrent/EEAECC39306646DA3CCF0B07150C36BA00178FB4.torrent?title=[kat.cr]the.legend.of.tarzan.2016.cam.rip.russian')
              //-           i.ka.ka16.ka-arrow-down
              //-       .torrentname
              //-         a.torType.filmType(href='the-legend-of-tarzan-2016-cam-rip-russian-t12879469.html')
              //-         a.normalgrey.font12px.plain.bold(href='the-legend-of-tarzan-2016-cam-rip-russian-t12879469.html')
              //-         .markeredBlock.torType.filmType
              //-           a.cellMainLink(href='the-legend-of-tarzan-2016-cam-rip-russian-t12879469.html') The Legend of Tarzan (2016) CAM-Rip [RUSSIAN]
              //-           span.font11px.lightgrey.block
              //-             | Posted by
              //-             i.ka.ka-verify(title='Verified Uploader', style='font-size: 16px;color:orange;')
              //-             a.plain(href='user/The.NOOG/') The.NOOG
              //-             |  in
              //-             span#cat_12879469
              //-               strong
              //-                 a(href='movies/') Movies
              //-                 |  &gt;
              //-                 a(href='dubbed-movies/') Dubbed Movies
              //-     | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //-     td.nobr.center
              //-       | 1.37
              //-       span GB
              //-     | &#x9;&#x9;&#x9;
              //-     td.center 1
              //-     | &#x9;&#x9;&#x9;
              //-     td.center(title='03 Jul 2016, 22:49') 6&nbsp;days
              //-     | &#x9;&#x9;&#x9;
              //-     td.green.center 3889
              //-     | &#x9;&#x9;&#x9;
              //-     td.red.lasttd.center 367
              //-   | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //-   tr#torrent_related_torrents12901835.even
              //-     td
              //-       .iaconbox.center.floatright
              //-         a.icommentjs.kaButton.smallButton.rightButton(rel='12901835,0', href='the-legend-of-tarzan-2016-hdts-550mb-shaanig-t12901835.html#comment')
              //-           | 38
              //-           i.ka.ka-comment
              //-         | &#x9;&#x9;&#x9;&#x9;
              //-         a.icon16(href='the-legend-of-tarzan-2016-hdts-550mb-shaanig-t12901835.html', title='Verified Torrent')
              //-           i.ka.ka16.ka-verify.ka-green
              //-         .none(data-sc-replace='', data-sc-slot='_ae58c272c09a10c792c6b17d55c20208', data-sc-params="{ 'name': 'The%20Legend%20of%20Tarzan%20%282016%29%20HDTS%20-%20550MB%20-%20ShAaNiG', 'extension': 'mkv', 'magnet': 'magnet:?xt=urn:btih:AC2B1A6396B3005C24992BE22E913164DCC1B04A&dn=the+legend+of+tarzan+2016+hdts+550mb+shaanig&tr=udp%3A%2F%2Ftracker.publicbt.com%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce' }")
              //-         a.icon16(data-nop='', title='Torrent magnet link', href='magnet:?xt=urn:btih:AC2B1A6396B3005C24992BE22E913164DCC1B04A&dn=the+legend+of+tarzan+2016+hdts+550mb+shaanig&tr=udp%3A%2F%2Ftracker.publicbt.com%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce')
              //-           i.ka.ka16.ka-magnet
              //-         a.icon16(data-download='', title='Download torrent file', href='/web/20160710223642/https://torcache.net/torrent/AC2B1A6396B3005C24992BE22E913164DCC1B04A.torrent?title=[kat.cr]the.legend.of.tarzan.2016.hdts.550mb.shaanig')
              //-           i.ka.ka16.ka-arrow-down
              //-       .torrentname
              //-         a.torType.filmType(href='the-legend-of-tarzan-2016-hdts-550mb-shaanig-t12901835.html')
              //-         a.normalgrey.font12px.plain.bold(href='the-legend-of-tarzan-2016-hdts-550mb-shaanig-t12901835.html')
              //-         .markeredBlock.torType.filmType
              //-           a.cellMainLink(href='the-legend-of-tarzan-2016-hdts-550mb-shaanig-t12901835.html') The Legend of Tarzan (2016) HDTS - 550MB - ShAaNiG
              //-           span.font11px.lightgrey.block
              //-             | Posted by
              //-             i.ka.ka-star.ka-vul2(title='Elite Uploader', style='font-size: 16px;color:orange;')
              //-             a.plain(href='user/ShAaNiG/') ShAaNiG
              //-             |  in
              //-             span#cat_12901835
              //-               strong
              //-                 a(href='movies/') Movies
              //-     | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //-     td.nobr.center
              //-       | 556.87
              //-       span MB
              //-     | &#x9;&#x9;&#x9;
              //-     td.center 1
              //-     | &#x9;&#x9;&#x9;
              //-     td.center(title='07 Jul 2016, 22:35') 2&nbsp;days
              //-     | &#x9;&#x9;&#x9;
              //-     td.green.center 2512
              //-     | &#x9;&#x9;&#x9;
              //-     td.red.lasttd.center 613
              //-   | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //-   tr#torrent_related_torrents12906481.odd
              //-     td
              //-       .iaconbox.center.floatright
              //-         a.icommentjs.kaButton.smallButton.rightButton(rel='12906481,0', href='the-legend-of-tarzan-2016-hdts-x264-dual-audio-english-hindi-downloadhub-t12906481.html#comment')
              //-           | 13
              //-           i.ka.ka-comment
              //-         | &#x9;&#x9;&#x9;&#x9;
              //-         a.icon16(href='the-legend-of-tarzan-2016-hdts-x264-dual-audio-english-hindi-downloadhub-t12906481.html', title='Verified Torrent')
              //-           i.ka.ka16.ka-verify.ka-green
              //-         .none(data-sc-replace='', data-sc-slot='_ae58c272c09a10c792c6b17d55c20208', data-sc-params="{ 'name': 'The%20Legend%20of%20Tarzan%20%282016%29%20HDTS%20x264%20%5BDual-Audio%5D%20%5BEnglish%20%2B%20Hindi%5D%20-%20Downloadhub', 'extension': 'mkv', 'magnet': 'magnet:?xt=urn:btih:7FFC2FA4FC5C8F3808F124D819C3EF443C5B5AF4&dn=the+legend+of+tarzan+2016+hdts+x264+dual+audio+english+hindi+downloadhub&tr=udp%3A%2F%2Ftracker.publicbt.com%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce' }")
              //-         a.icon16(data-nop='', title='Torrent magnet link', href='magnet:?xt=urn:btih:7FFC2FA4FC5C8F3808F124D819C3EF443C5B5AF4&dn=the+legend+of+tarzan+2016+hdts+x264+dual+audio+english+hindi+downloadhub&tr=udp%3A%2F%2Ftracker.publicbt.com%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce')
              //-           i.ka.ka16.ka-magnet
              //-         a.icon16(data-download='', title='Download torrent file', href='/web/20160710223642/https://torcache.net/torrent/7FFC2FA4FC5C8F3808F124D819C3EF443C5B5AF4.torrent?title=[kat.cr]the.legend.of.tarzan.2016.hdts.x264.dual.audio.english.hindi.downloadhub')
              //-           i.ka.ka16.ka-arrow-down
              //-       .torrentname
              //-         a.torType.filmType(href='the-legend-of-tarzan-2016-hdts-x264-dual-audio-english-hindi-downloadhub-t12906481.html')
              //-         a.normalgrey.font12px.plain.bold(href='the-legend-of-tarzan-2016-hdts-x264-dual-audio-english-hindi-downloadhub-t12906481.html')
              //-         .markeredBlock.torType.filmType
              //-           a.cellMainLink(href='the-legend-of-tarzan-2016-hdts-x264-dual-audio-english-hindi-downloadhub-t12906481.html')
              //-             | The Legend of Tarzan (2016) HDTS x264 [Dual-Audio] [English + Hindi] - Downloadhub
              //-           span.font11px.lightgrey.block
              //-             | Posted by
              //-             i.ka.ka-verify(title='Verified Uploader', style='font-size: 16px;color:orange;')
              //-             a.plain(href='user/downloadhub/') downloadhub
              //-             |  in
              //-             span#cat_12906481
              //-               strong
              //-                 a(href='movies/') Movies
              //-     | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //-     td.nobr.center
              //-       | 753.11
              //-       span MB
              //-     | &#x9;&#x9;&#x9;
              //-     td.center 4
              //-     | &#x9;&#x9;&#x9;
              //-     td.center(title='08 Jul 2016, 17:37') 2&nbsp;days
              //-     | &#x9;&#x9;&#x9;
              //-     td.green.center 1271
              //-     | &#x9;&#x9;&#x9;
              //-     td.red.lasttd.center 1676
              //-   | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //-   tr#torrent_related_torrents12875088.even
              //-     td
              //-       .iaconbox.center.floatright
              //-         a.icommentjs.kaButton.smallButton.rightButton(rel='12875088,0', href='the-legend-of-tarzan-2016-cam-english-x264-aac-makintos13-t12875088.html#comment')
              //-           | 104
              //-           i.ka.ka-comment
              //-         | &#x9;&#x9;&#x9;&#x9;
              //-         a.icon16(href='the-legend-of-tarzan-2016-cam-english-x264-aac-makintos13-t12875088.html', title='Verified Torrent')
              //-           i.ka.ka16.ka-verify.ka-green
              //-         .none(data-sc-replace='', data-sc-slot='_ae58c272c09a10c792c6b17d55c20208', data-sc-params="{ 'name': 'The%20Legend%20of%20Tarzan%20-%202016%20-%20CAM%20-%20ENGLISH%20-%20x264%20-%20AAC%20-%20Makintos13', 'extension': 'mkv', 'magnet': 'magnet:?xt=urn:btih:C3C1EB964A4A1DD1B5BF2DFB1FA683B29E1C8899&dn=the+legend+of+tarzan+2016+cam+english+x264+aac+makintos13&tr=udp%3A%2F%2Ftracker.publicbt.com%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce' }")
              //-         a.icon16(data-nop='', title='Torrent magnet link', href='magnet:?xt=urn:btih:C3C1EB964A4A1DD1B5BF2DFB1FA683B29E1C8899&dn=the+legend+of+tarzan+2016+cam+english+x264+aac+makintos13&tr=udp%3A%2F%2Ftracker.publicbt.com%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce')
              //-           i.ka.ka16.ka-magnet
              //-         a.icon16(data-download='', title='Download torrent file', href='/web/20160710223642/https://torcache.net/torrent/C3C1EB964A4A1DD1B5BF2DFB1FA683B29E1C8899.torrent?title=[kat.cr]the.legend.of.tarzan.2016.cam.english.x264.aac.makintos13')
              //-           i.ka.ka16.ka-arrow-down
              //-       .torrentname
              //-         a.torType.filmType(href='the-legend-of-tarzan-2016-cam-english-x264-aac-makintos13-t12875088.html')
              //-         a.normalgrey.font12px.plain.bold(href='the-legend-of-tarzan-2016-cam-english-x264-aac-makintos13-t12875088.html')
              //-         .markeredBlock.torType.filmType
              //-           a.cellMainLink(href='the-legend-of-tarzan-2016-cam-english-x264-aac-makintos13-t12875088.html') The Legend of Tarzan - 2016 - CAM - ENGLISH - x264 - AAC - Makintos13
              //-           span.font11px.lightgrey.block
              //-             | Posted by
              //-             i.ka.ka-verify(title='Verified Uploader', style='font-size: 16px;color:orange;')
              //-             a.plain(href='user/FireofSword/') FireofSword
              //-             |  in
              //-             span#cat_12875088
              //-               strong
              //-                 a(href='movies/') Movies
              //-     | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //-     td.nobr.center
              //-       | 698.82
              //-       span MB
              //-     | &#x9;&#x9;&#x9;
              //-     td.center 1
              //-     | &#x9;&#x9;&#x9;
              //-     td.center(title='03 Jul 2016, 05:56') 1&nbsp;week
              //-     | &#x9;&#x9;&#x9;
              //-     td.green.center 1597
              //-     | &#x9;&#x9;&#x9;
              //-     td.red.lasttd.center 113
              //-   | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //-   tr#torrent_related_torrents12915706.odd
              //-     td
              //-       .iaconbox.center.floatright
              //-         a.icommentjs.kaButton.smallButton.rightButton(rel='12915706,0', href='the-legend-of-tarzan-2016-hdts-xvid-vain-t12915706.html#comment')
              //-           | 3
              //-           i.ka.ka-comment
              //-         | &#x9;&#x9;&#x9;&#x9;
              //-         a.icon16(href='the-legend-of-tarzan-2016-hdts-xvid-vain-t12915706.html', title='Verified Torrent')
              //-           i.ka.ka16.ka-verify.ka-green
              //-         .none(data-sc-replace='', data-sc-slot='_ae58c272c09a10c792c6b17d55c20208', data-sc-params="{ 'name': 'The%20Legend%20of%20Tarzan%202016%20HDTS%20XviD-VAiN', 'extension': 'avi', 'magnet': 'magnet:?xt=urn:btih:3AA467D01EAF8FBBCD35828F3C07AA91EC028217&dn=the+legend+of+tarzan+2016+hdts+xvid+vain&tr=udp%3A%2F%2Ftracker.publicbt.com%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce' }")
              //-         a.icon16(data-nop='', title='Torrent magnet link', href='magnet:?xt=urn:btih:3AA467D01EAF8FBBCD35828F3C07AA91EC028217&dn=the+legend+of+tarzan+2016+hdts+xvid+vain&tr=udp%3A%2F%2Ftracker.publicbt.com%2Fannounce&tr=udp%3A%2F%2Fglotorrents.pw%3A6969%2Fannounce&tr=udp%3A%2F%2Ftracker.openbittorrent.com%3A80%2Fannounce&tr=udp%3A%2F%2Ftracker.opentrackr.org%3A1337%2Fannounce')
              //-           i.ka.ka16.ka-magnet
              //-         a.icon16(data-download='', title='Download torrent file', href='/web/20160710223642/https://torcache.net/torrent/3AA467D01EAF8FBBCD35828F3C07AA91EC028217.torrent?title=[kat.cr]the.legend.of.tarzan.2016.hdts.xvid.vain')
              //-           i.ka.ka16.ka-arrow-down
              //-       .torrentname
              //-         a.torType.filmType(href='the-legend-of-tarzan-2016-hdts-xvid-vain-t12915706.html')
              //-         a.normalgrey.font12px.plain.bold(href='the-legend-of-tarzan-2016-hdts-xvid-vain-t12915706.html')
              //-         .markeredBlock.torType.filmType
              //-           a.cellMainLink(href='the-legend-of-tarzan-2016-hdts-xvid-vain-t12915706.html') The Legend of Tarzan 2016 HDTS XviD-VAiN
              //-           span.font11px.lightgrey.block
              //-             | Posted by
              //-             i.ka.ka-verify(title='Verified Uploader', style='font-size: 16px;color:orange;')
              //-             a.plain(href='user/Silmarillion/') Silmarillion
              //-             |  in
              //-             span#cat_12915706
              //-               strong
              //-                 a(href='movies/') Movies
              //-     | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //-     td.nobr.center
              //-       | 1.48
              //-       span GB
              //-     | &#x9;&#x9;&#x9;
              //-     td.center 4
              //-     | &#x9;&#x9;&#x9;
              //-     td.center(title='10 Jul 2016, 08:55') 11&nbsp;hours
              //-     | &#x9;&#x9;&#x9;
              //-     td.green.center 638
              //-     | &#x9;&#x9;&#x9;
              //-     td.red.lasttd.center 1995
              //- | &#x9;            &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              //- h2 Sharing Widget
              //- br
              //- .sharingWidgetBox
              //-   .sharingWidget.borderrad3px.floatleft
              //-     a.siteButton.giantButton(href='/web/20160710223642/https://torcache.net/torrent/C2FADAB194E430B155B5F28941145578069FA43B.torrent?title=[kat.cr]the.legend.of.tarzan.2016.hd.ts.x264.cpg')
              //-       span Download torrent
              //-     | &#x9;&#x9;
              //-     .widgetSize
              //-       span.torType.filmType
              //-       strong
              //-         | 1.75
              //-         span GB
              //-     | &#x9;&#x9;
              //-     .widgetSeed.seedBlock
              //-       i.ka.kaBox.ka-arrow-up
              //-       | seeders:
              //-       strong 20320
              //-     | &#x9;&#x9;
              //-     .widgetLeech.leechBlock
              //-       i.ka.kaBox.ka-arrow-down
              //-       | leechers:
              //-       strong 14429
              //-   | &#x9;&#x9;
              //-   .widgetName The Legend of Tarzan 2016 HD-TS x264-CPG
              // div class="sharingWidgetBox"
            //-   .floatleft
            //-     label.inlineblock.width50px html
            //-     input.textinput(onclick='select()', value='<a href="http://kat.cr/the-legend-of-tarzan-2016-hd-ts-x264-cpg-t12901192.html"><img src="//kat.cr/torrentwidget/C2FADAB194E430B155B5F28941145578069FA43B.png"></a>', type='text')
            //-     br
            //-     label.inlineblock.width50px bbcode
            //-     input.textinput(onclick='select()', value='[url="//kat.cr/the-legend-of-tarzan-2016-hd-ts-x264-cpg-t12901192.html"][img]//kat.cr/torrentwidget/C2FADAB194E430B155B5F28941145578069FA43B.png[/img][/url]', type='text')
            //-   br.clear
            //-   hr
            //-   div
            //-     p
            //-       | To share this torrent use the code below and insert it into comments, status messages, forum posts or your signature.
            //-     a.ka-widget.vtip(href='the-legend-of-tarzan-2016-hd-ts-x264-cpg-t12901192.html', rel='12901192', widget-type='torrent')
            //-       i.ka.ka-arrow-down
            //-       strong Torrent:
            //-       em.maxwidth550px.overhidden.nowrap The Legend of Tarzan 2016 HD-TS x264-CPG
            //-     .vtipContentjs(style='display:none')
            //-       .previewPopupContainer.relative.block
            //-         p.overvisible.wrap.block
            //-           span.torType.filmType
            //-           span.line160perc The Legend of Tarzan 2016 HD-TS x264-CPG
            //-           br
            //-           span.block.normalgrey.font11px.plain
            //-             | Jul  7, 2016 in
            //-             strong
            //-               a(href='movies/') Movies
            //-             | . &nbsp;Verified. &nbsp;1.75
            //-             span GB
            //-           span.hash.font11px.lightgrey C2FADAB194E430B155B5F28941145578069FA43B
            //-         p.font11px.darkivorybg.toppad3px.botpad3px
            //-           span.inlineblock.floatleft
            //-             span.statusIcon.isleech
            //-             strong(itemprop='seeders') 20320
            //-             | &nbsp;&nbsp;
            //-             span.statusIcon.isseed
            //-             strong(itemprop='leechers') 14429
            //-           span.inlineblock.floatright
            //-             span.statusIcon.isaudio
            //-             | 7
            //-             span.opac5.font10px /10
            //-             | &nbsp;&nbsp;&nbsp;
            //-             span.statusIcon.isvideo
            //-             | 7
            //-             span.opac5.font10px /10
            //-             | &nbsp;&nbsp;&nbsp;
            //-             span.statusIcon.isrategood
            //-             | 9
            //-             span.opac5.font10px /10
            //-     .leftpad15px.inlineblock
            //-       label.inlineblock.width50px bbcode
            //-       input.textinput(onclick='select()', value='[torrent=12901192]', type='text')
            //-     a.ajaxLink.ka.ka16.ka-message(title='Send in a private message', href='messenger/create/?text=[torrent=12901192]')
            //- | &#x9;&#x9;&#x9;&#x9;
            #tab-technical.contentTabContainer
              #trackerBox
                h2
                  | Trackers
                  .buttonsline
                .botmarg10px
                  table#trackers_table.data(cellpadding='0', cellspacing='0', style='width:100%')
                    tr.firstr
                      th.lasttd
                        span tracker name
                    | &#x9;&#x9;&#x9;
                    tr.even
                      td.width100perc.left.lasttd
                        div udp://tracker.openbittorrent.com:80/announce
                    | &#x9;&#x9;&#x9;
                    tr.odd
                      td.width100perc.left.lasttd
                        div udp://tracker.coppersurfer.tk:6969/announce
                    | &#x9;&#x9;&#x9;
                    tr.even
                      td.width100perc.left.lasttd
                        div udp://p4p.arenabg.ch:1337/announce
                    | &#x9;&#x9;&#x9;
                    tr.odd
                      td.width100perc.left.lasttd
                        div udp://p4p.arenabg.com:1337/announce
                    | &#x9;&#x9;&#x9;
                    tr.even
                      td.width100perc.left.lasttd
                        div udp://explodie.org:6969/announce
                    | &#x9;&#x9;&#x9;
                    tr.odd
                      td.width100perc.left.lasttd
                        div udp://tracker.aletorrenty.pl:2710/announce
                    | &#x9;&#x9;&#x9;
                    tr.even
                      td.width100perc.left.lasttd
                        div udp://9.rarbg.to:2710/announce
                    | &#x9;&#x9;&#x9;
                    tr.odd
                      td.width100perc.left.lasttd
                        div udp://torrent.gresille.org:80/announce
                    | &#x9;&#x9;&#x9;
                    tr.even
                      td.width100perc.left.lasttd
                        div udp://tracker.opentrackr.org:1337/announce
                    | &#x9;&#x9;&#x9;
                    tr.odd
                      td.width100perc.left.lasttd
                        div udp://tracker.piratepublic.com:1337/announce
                  | &#x9;
                  a(onclick="$('#utorrent_trackers').toggle();$('#utorrent_textarea').select();return false;") &micro;Torrent compatible trackers list
                  br
                  | &#x9;
                  #utorrent_trackers(style='display:none')
                    br
                    textarea#utorrent_textarea.botmarg5px(rows='8')
                      | udp://tracker.openbittorrent.com:80/announce
                      | udp://tracker.coppersurfer.tk:6969/announce
                      | udp://p4p.arenabg.ch:1337/announce
                      | udp://p4p.arenabg.com:1337/announce
                      | udp://explodie.org:6969/announce
                      | udp://tracker.aletorrenty.pl:2710/announce
                      | udp://9.rarbg.to:2710/announce
                      | udp://torrent.gresille.org:80/announce
                      | udp://tracker.opentrackr.org:1337/announce
                      | udp://tracker.piratepublic.com:1337/announce
              | &#x9;&#x9;
              h2 Locations
              table.data(cellpadding='0', cellspacing='0', style='width:100%')
                tr.firstr
                  th.width100perc.lasttd(colspan='2')
                    span name
                tr.odd
                  td.width15perc
                    span.torrenticons17.thirdPartIcons
                  | &#x9;
                  td.width50perc KickassTorrents
                //- tr.even
                //-   td.width15perc
                //-     span.torrenticons6.thirdPartIcons
                //-   | &#x9;
                //-   td.width50perc
                    //- a.plain(href='locations/extratorrent/the-legend-of-tarzan-2016-hd-ts-x264-cpg-20041072/', target='_blank', rel='external nofollow')  ExtraTorrent
              | &#x9;&#x9;
              span.lightgrey.font10px Torrent hash: &nbsp;
            |     &#x9;&#x9;&#x9;
            //- #tab-trailer.contentTabContainer
            //-   .center
            //-     div(style='\
            //-     width 100%; \
            //-     height: 100%; \
            //-     position: relative; \
            //-     background-color: rgba(255,255,255);'
            //-     onclick='\
            //-     var _this = this; \
            //-     (function () { \
            //-       try { \
            //-         throw new Error("ZeroNet Does Not Currently Support Cross-Origin Requests"); \
            //-         var iframe = document.createElement("iframe"); \
            //-         iframe.width = "640"; \
            //-         iframe.height = "480"; \
            //-         iframe.src = "https://www.youtube.com/embed/Aj7ty6sViiU"; \
            //-         iframe.frameborder = "0"; \
            //-         iframe.allowfullscreen = ""; \
            //-         _this.innerHTML = iframe.outerHTML; \
            //-       } \
            //-       catch (err) { \
            //-         console.error(err); \
            //-       } \
            //-     }()); \
            //-     ')
            //-       span(style='\
            //-       position: absolute; \
            //-       top: 50%; \
            //-       left:37%; \
            //-       font-size: 2em; \
            //-       text-transform: uppercase; \
            //-       text-align: center; \
            //-       color: #000; \
            //-       opacity: 1;')
            //-         strong Click To Play Trailer
            //-       a(href="https://www.youtube.com/watch?v=Aj7ty6sViiU" target="_blank")
            //-         img(width='640', height='480', src='https://img.youtube.com/vi/Aj7ty6sViiU/maxresdefault.jpg' style='opacity: 0.5;cursor:pointer;')
            //- |     &#x9;&#x9;&#x9;    &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
            #tab-comment.contentTabContainer.commentTab
              .commentsLeftModule
                .comments.topComments
                  h2 Top Comments
                  .commentThread
                    // commentcontent
                    // commentbody
                    .commentbody
                      .userPic
                        .height50px.userPicHeight.relative
                          a(href='user/reslady/')
                            img(src='content/content/images/commentlogo.png')
                      | &#x9;
                      .commentcontent
                        .commentowner
                          #topratediv_29997639.rate.rated
                            a.ka.ka16.kasmall.ka-thumbs-down.ka-red.ajaxLink(href='auth/login/')
                              span
                            |                 &#x9;
                            a.ka.ka16.kasmall.ka-thumbs-up.ajaxLink(href='auth/login/')
                              span
                            a#topcommrate_29997639.ratemark.plus.ajaxLink(href='comments/votes/29997639/', title='Votes for this comment')
                              i.ka.ka-arrow2-up
                              | 72
                          | &#x9;&#x9;&#x9;
                          .commentTopControlLine
                          | &#x9;&#x9;&#x9;
                          .commentownerLeft
                            span.badgeInline
                              span.offline(title='offline')
                              span.aclColor_1
                                a.plain(href='user/kickasstorrents/') kickasstorrents
                              span.repValue.positive(title='Reputation') 80085
                            | &#x9;&#x9;&#x9;&#x9;
                            span.lightgrey.font11px
                              | &bull;
                              time.timeago(datetime='2016-07-07T23:17:33+00:00') 08 Aug 2016, 23:17
                        | &#x9;&#x9;
                        #topctext_29997639.commentText.botmarg5px
                          | Thank you for your patience while I continue to develop this site. You can view a roadmap <a href="https://gitlab.com/kickasstorrents/KAT/wikis/roadmap">here</a> and if you're a developer can help contribute to the site, a getting started guide is available <a href="https://gitlab.com/kickasstorrents/KAT/wikis/getting-started">here</a>.
                          .objectAttachmentsJs.overauto.topmarg10px
                      // commentcontent
                | &#x9;
                h2
                  | All Comments
                  a(name='comments_start')
                | &#x9;
                .comments
                  .floatleft
                    #main.commentform.torrentPage
                      form(action='comments/create/torrent/', method='post', onsubmit="return addComment(this, 'torrent');")
                        input(type='hidden', name='turing')
                        input(type='hidden', name='objectId', value='12901192')
                        textarea.comareajs.botmarg5px.quicksubmit(name='content')
                        |                 &#x9;
                        //- .qrateContainer
                        //-   .qrate
                        //-     span
                        //-       i.statusIcon.ka.ka-sound
                        //-       |  audio
                        //-     | &#x9;
                        //-     select#audio_rate(name='audio_rate')
                        //-       option.vote(value='') vote
                        //-       | &#x9;
                        //-       option(value='1') 1 awful
                        //-       | &#x9;
                        //-       option(value='2') 2
                        //-       | &#x9;
                        //-       option(value='3') 3
                        //-       | &#x9;
                        //-       option(value='4') 4
                        //-       | &#x9;
                        //-       option(value='5') 5
                        //-       | &#x9;
                        //-       option(value='6') 6
                        //-       | &#x9;
                        //-       option(value='7') 7
                        //-       | &#x9;
                        //-       option(value='8') 8
                        //-       | &#x9;
                        //-       option(value='9') 9
                        //-       | &#x9;
                        //-       option(value='10') 10 best
                        //-   | &#x9;&#x9;
                        //-   span#audioRating.torrentRating
                        //-     | 7
                        //-     span /10
                        //-   | &#x9;
                        //-   .qrate
                        //-     span
                        //-       i.statusIcon.ka.ka-film
                        //-       |  video
                        //-     | &#x9;
                        //-     select#video_rate(name='video_rate')
                        //-       option.vote(value='') vote
                        //-       | &#x9;
                        //-       option(value='1') 1 awful
                        //-       | &#x9;
                        //-       option(value='2') 2
                        //-       | &#x9;
                        //-       option(value='3') 3
                        //-       | &#x9;
                        //-       option(value='4') 4
                        //-       | &#x9;
                        //-       option(value='5') 5
                        //-       | &#x9;
                        //-       option(value='6') 6
                        //-       | &#x9;
                        //-       option(value='7') 7
                        //-       | &#x9;
                        //-       option(value='8') 8
                        //-       | &#x9;
                        //-       option(value='9') 9
                        //-       | &#x9;
                        //-       option(value='10') 10 best
                        //-   | &#x9;&#x9;
                        //-   span#videoRating.torrentRating
                        //-     | 7
                        //-     span /10
                        // div class="qrateContainer"
                        .textareaRecommendation.font11px please, leave only comments related to that torrent
                        .objectAttachmentsJs.overauto.botmarg5px(style='clear: both;')
                        .buttonsline
                          //- button.siteButton.bigButton(type='submit')
                            //- span Post as a guest
                          a.ajaxLink.siteButton.bigButton(href='auth/login/') Sign In
                  | &#x9;&#x9;
                  .tabs.tabSwitcher
                    ul.tabNavigation
                      li
                        a.darkButton(href='#comment_comments', rel='comment_comments')
                          span Comments
                      | &#x9;&#x9;&#x9;&#x9;
                      //- li
                      //-   a#tab-votes_button.darkButton(href='#comment_votes', rel='comment_votes')
                      //-     span Votes
                    | &#x9;&#x9;&#x9;&#x9;&#x9;
                    hr.tabsSeparator
                    | &#x9;&#x9;
                    #tab-comment_comments
                      .commentThread
                        #comment_30033125.commentbody
                          #cpic_30033125.userPic
                            .height50px.userPicHeight.relative
                              a(href='user/user_name')
                                img.lazyjs(data-original='content/content/images/commentlogo.png', src='content/content/images/commentlogo.png')
                          .commentcontent
                            a(name='comment_30033125')
                            .commentowner
                              #ratediv_30033125.rate.rated
                                a.ka.ka16.kasmall.ka-thumbs-down.ka-red.redButton.ajaxLink(href='auth/login/')
                                  span
                                |     &#x9;
                                a.ka.ka16.kasmall.ka-thumbs-up.ajaxLink(href='auth/login/')
                                  span
                                a#commrate_30033125.ajaxLink.ratemark(href='comments/votes/30033125/', title='Votes for this comment') 0
                              // div class="rate"
                              .commentTopControlLine
                              .commentownerLeft
                                span.badgeInline
                                  //- span.offline(title='offline')
                                  span.aclColor_2
                                    a.plain(href='user/TimeBandits/') kickasstorrents
                                  //- span.repValue.positive(title='Reputation') 94.36K
                                span#cdate_30033125.lightgrey.font11px
                                  | &bull;
                                  a(href='comments/show/30033125/')
                                    time.timeago(datetime='')
                                //- .downloadedArrow
                                //-   i.ka.ka-arrow-down.red.kaDownloadedArrow(title='has downloaded this torrent')
                                a#cshow_30033125.siteButton.smallButton.reject.showComment(href='javascript:showComment(30033125)')
                                  span Show comment
                              // div class="commentownerLeft"
                            // commentowner
                            .commentAVRate.bold.font11px
                              //- span audio: 7
                              //- span video: 6
                            #ctext_30033125.commentText.botmarg5px.topmarg5px
                              | Comments aren't working yet, but they will do :)
                              //- |
                              //- img.emoticon(src='content/content/images/smiley/biggrin.gif', alt='biggrin')
                              //- .objectAttachmentsJs.overauto.topmarg10px
                            #rep_link30033125.replyLink
                              a.kaButton.normalText.smallButton(href="javascript: showReply('30033125');")
                                i.ka.ka-reply
                                |  reply
                            #close_link30033125(style='display:none')
                              a.kaButton.normalText.smallButton(href="javascript: Hide('rep30033125');Show('rep_link30033125');Hide('close_link30033125')")
                                i.ka.ka-arrow2-up
                                |  close
                            #rep30033125.commentform(style='display:none;')
                          // div class="commentcontent"
                        // div class="commentbody"
                      // div class="commentThread"
                      //- span#showmore_2.showmore.folded(style='display:block')
                      //-   a(onclick="getPage(2, '12901192', 'torrent')", style='cursor:pointer')
                      //-     span.font80perc &#x25BC;
                      //-     |  Show More
                      //-   | &#x9;
                      //-   a(onclick="getAll(2, '12901192', 'torrent')", style='cursor:pointer;float:right;padding-right:10px')
                      //-     span.font80perc &#x25BC;
                      //-     |  All
                      //-   | &#x9;
                      //-   .clear
                      //- | &#x9;
                      #morecomments_2(style='display:none;')
                      form#comment_form(action='comments/create/torrent/', method='post', onsubmit="return addComment(this, 'torrent');", style='display:none')
                        input(type='hidden', name='pid', value='')
                        input(type='hidden', name='turing')
                        input(type='hidden', name='objectId', value='12901192')
                        textarea.botmarg5px.comareajs.quicksubmit(name='content', rows='10', cols='10', autofocus='', required='')
                        .objectAttachmentsJs.overauto(style='clear: both;')
                        .buttonsline
                          button.siteButton.bigButton(type='submit', name='submit')
                            span reply
                    | &#x9;&#x9;
                    #tab-comment_votes
                      .commentThread
                        #comment_30032792.commentbody
                          #cpic_30032792.userPic
                            .height50px.userPicHeight.relative
                              a(href='user/TorgoNudho/')
                                img.lazyjs(data-original='content/content/images/blank.gif', src='content/content/images/blank.gif')
                          .commentcontent
                            a(name='comment_30032792')
                            .commentowner
                              #ratediv_30032792.rate.rated
                                a.ka.ka16.kasmall.ka-thumbs-down.ka-red.redButton.ajaxLink(href='auth/login/')
                                  span
                                |     &#x9;
                                a.ka.ka16.kasmall.ka-thumbs-up.ajaxLink(href='auth/login/')
                                  span
                                a#commrate_30032792.ajaxLink.ratemark(href='comments/votes/30032792/', title='Votes for this comment') 0
                              // div class="rate"
                              .commentTopControlLine
                              .commentownerLeft
                                span.badgeInline
                                  span.offline(title='offline')
                                  span.aclColor_1
                                    a.plain(href='user/TorgoNudho/') TorgoNudho
                                  span.repValue.positive(title='Reputation') 911
                                span#cdate_30032792.lightgrey.font11px
                                  | &bull;
                                  a(href='comments/show/30032792/')
                                    time.timeago(datetime='2016-07-10T17:56:29+00:00') 10 Jul 2016, 17:56
                                .downloadedArrow
                                  i.ka.ka-arrow-down.red.kaDownloadedArrow(title='has downloaded this torrent')
                                a#cshow_30032792.siteButton.smallButton.reject.showComment(href='javascript:showComment(30032792)')
                                  span Show comment
                              // div class="commentownerLeft"
                            // commentowner
                            .commentAVRate.bold.font11px
                              span audio: 7
                              span video: 7
                            #ctext_30032792.commentText.botmarg5px.topmarg5px
                              .objectAttachmentsJs.overauto.topmarg10px
                            #rep_link30032792.replyLink
                              a.kaButton.normalText.smallButton(href="javascript: showReply('30032792');")
                                i.ka.ka-reply
                                |  reply
                            #close_link30032792(style='display:none')
                              a.kaButton.normalText.smallButton(href="javascript: Hide('rep30032792');Show('rep_link30032792');Hide('close_link30032792')")
                                i.ka.ka-arrow2-up
                                |  close
                            #rep30032792.commentform(style='display:none;')
                          // div class="commentcontent"
                        // div class="commentbody"
                      // div class="commentThread"
                      .commentThread
                        #comment_30032362.commentbody
                          #cpic_30032362.userPic
                            .height50px.userPicHeight.relative
                              a(href='user/martikaxx/')
                                img.lazyjs(data-original='content/content/images/blank.gif', src='content/content/images/blank.gif')
                          .commentcontent
                            a(name='comment_30032362')
                            .commentowner
                              #ratediv_30032362.rate.rated
                                a.ka.ka16.kasmall.ka-thumbs-down.ka-red.redButton.ajaxLink(href='auth/login/')
                                  span
                                |     &#x9;
                                a.ka.ka16.kasmall.ka-thumbs-up.ajaxLink(href='auth/login/')
                                  span
                                a#commrate_30032362.ajaxLink.ratemark(href='comments/votes/30032362/', title='Votes for this comment') 0
                              // div class="rate"
                              .commentTopControlLine
                              .commentownerLeft
                                span.badgeInline
                                  span.offline(title='offline')
                                  span.aclColor_1
                                    a.plain(href='user/martikaxx/') martikaxx
                                  span.repValue.positive(title='Reputation') 21
                                span#cdate_30032362.lightgrey.font11px
                                  | &bull;
                                  a(href='comments/show/30032362/')
                                    time.timeago(datetime='2016-07-10T17:11:32+00:00') 10 Jul 2016, 17:11
                                a#cshow_30032362.siteButton.smallButton.reject.showComment(href='javascript:showComment(30032362)')
                                  span Show comment
                              // div class="commentownerLeft"
                            // commentowner
                            .commentAVRate.bold.font11px
                              span audio: 7
                              span video: 7
                            #ctext_30032362.commentText.botmarg5px.topmarg5px
                              .objectAttachmentsJs.overauto.topmarg10px
                            #rep_link30032362.replyLink
                              a.kaButton.normalText.smallButton(href="javascript: showReply('30032362');")
                                i.ka.ka-reply
                                |  reply
                            #close_link30032362(style='display:none')
                              a.kaButton.normalText.smallButton(href="javascript: Hide('rep30032362');Show('rep_link30032362');Hide('close_link30032362')")
                                i.ka.ka-arrow2-up
                                |  close
                            #rep30032362.commentform(style='display:none;')
                          // div class="commentcontent"
                        // div class="commentbody"
                      // div class="commentThread"
                      form#comment_form(action='comments/create/torrent/', method='post', onsubmit="return addComment(this, 'torrent');", style='display:none')
                        input(type='hidden', name='pid', value='')
                        input(type='hidden', name='turing')
                        input(type='hidden', name='objectId', value='12901192')
                        textarea.botmarg5px.comareajs.quicksubmit(name='content', rows='10', cols='10', autofocus='', required='')
                        .objectAttachmentsJs.overauto(style='clear: both;')
                        .buttonsline
                          button.siteButton.bigButton(type='submit', name='submit')
                            span reply
              // div class="commentsLeftModule"
              br
              | &#x9;
              //- h2 User Opinions
              //- | &#x9;
              //- #useropinion.userOpinionsContainer
              //-   i.green.ka.ka-thumbs-up
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/davidlb/') davidlb
              //-     span.repValue.positive(title='Reputation') 11.84K
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/bigdee63/') bigdee63
              //-     span.repValue.positive(title='Reputation') 8565
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/masoodalam51/') masoodalam51
              //-     span.repValue.positive(title='Reputation') 4478
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/bosslove72/') bosslove72
              //-     span.repValue.positive(title='Reputation') 3380
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/SNOWBALLS10/') SNOWBALLS10
              //-     span.repValue.positive(title='Reputation') 3340
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/Uncle%20Bob/') Uncle Bob
              //-     span.repValue.positive(title='Reputation') 1768
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/Ghorghorbey/') Ghorghorbey
              //-     span.repValue.positive(title='Reputation') 761
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/kambizm/') kambizm
              //-     span.repValue.positive(title='Reputation') 519
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/bradzff9/') bradzff9
              //-     span.repValue.positive(title='Reputation') 259
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/tarkzin/') tarkzin
              //-     span.repValue.positive(title='Reputation') 11
              //-   | &#x9;&#x9;... And 1367 more
              //-   | &#x9;
              //-   br
              //-   | &#x9;
              //-   i.ka.ka-thumbs-down.red
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/slaynx/') slaynx
              //-     span.repValue.positive(title='Reputation') 6549
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/Rapid.Fire/') Rapid.Fire
              //-     span.repValue.positive(title='Reputation') 1628
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/santosha/') santosha
              //-     span.repValue.positive(title='Reputation') 1595
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/1berto/') 1berto
              //-     span.repValue.positive(title='Reputation') 942
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/VitodaMAN/') VitodaMAN
              //-     span.repValue.positive(title='Reputation') 606
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/rhapx2/') rhapx2
              //-     span.repValue.positive(title='Reputation') 570
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/the13thomen/') the13thomen
              //-     span.repValue.positive(title='Reputation') 294
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/Jean2424/') Jean2424
              //-     span.repValue.positive(title='Reputation') 199
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/jhonfy/') jhonfy
              //-     span.repValue.positive(title='Reputation') 189
              //-   | ,
              //-   | &#x9;
              //-   span.blank
              //-   span.badgeInline
              //-     span.offline(title='offline')
              //-     span.aclColor_1
              //-       a.plain(href='user/castortroiy/') castortroiy
              //-     span.repValue.positive(title='Reputation') 6
              //-   | &#x9;&#x9;... And 89 more
          // div class="tabs"
          div(data-sc-slot='_a9da1a7cb004a028f96d8f8475b3401d')
            block sidebar
              include ./layouts/sidebar.pug
