




/*
     FILE ARCHIVED ON 10:57:46 Jul 8, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 7:52:13 Aug 1, 2016.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
@charset "UTF-8";
body {
  background: #FDFCFA;
  text-align: center;
  font-family: Verdana, Helvetica, sans-serif;
  height: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
  margin: 0; }
  body.landing-page #contentSearch {
    box-shadow: none; }
  body.landing-page:before {
    margin-top: inherit;
    height: inherit;
    float: inherit;
    content: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

* {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input:focus, button:focus {
  outline: none; }

a, button {
  color: #A0A09F;
  text-decoration: none; }

a:hover, button:hover {
  color: #8e8e8e; }

.land-login {
  background-color: #EDEBE6;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }

.land-content {
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  display: flex;
  flex: 1; }

.land-logo-sign {
  background-image: url(content/images/logo/kat-logo-2x.png);
  background-size: cover;
  height: 41px;
  width: 45px;
  margin: 0 auto 1em auto; }

.land-logo-text {
  background-image: url(content/images/logo/logo_text_brown.png);
  background-size: cover;
  height: 28px;
  width: 249px;
  margin: 0 auto; }

.landing-header {
  white-space: nowrap;
  display: flex;
  flex-direction: row; }
  .landing-header a {
    color: #787878;
    font-size: 11px;
    font-weight: 600;
    padding: 0 15px;
    height: 48px;
    line-height: 48px;
    display: block;
    text-transform: uppercase; }
  .landing-header .land-switch {
    align-self: flex-start; }
  .landing-header .land-login {
    align-self: flex-end;
    margin-left: auto;
    background-color: #EDEBE6; }
    @media (max-width: 350px) {
      .landing-header .land-login span {
        display: none; } }

.land-search-input {
  text-align: left;
  border: 1px solid #999;
  width: 550px;
  max-width: 95%;
  vertical-align: middle;
  white-space: nowrap;
  margin: 2em auto 0 auto;
  padding-right: 1px;
  border-radius: 2px;
  align-self: center;
  position: relative; }
  .land-search-input form {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row; }

#searchTool {
  float: right; }
  #searchTool i, #searchTool i:hover {
    line-height: 200%; }
  #searchTool .ka:before {
    color: inherit; }

.land-search-input input#contentSearch {
  border: none;
  font-size: 16px;
  padding: 0.7em 1em; }
.land-search-input button, .land-search-input input, .land-search-input a {
  background: none;
  display: inline-block; }
.land-search-input input {
  flex-grow: 2; }
.land-search-input button, .land-search-input a {
  width: 35px;
  border: none;
  flex-grow: 1;
  cursor: pointer;
  margin: 0;
  padding: 3px 0;
  font: inherit;
  vertical-align: top;
  text-align: center;
  display: inline-block; }
.land-search-input button i, .land-search-input a i {
  display: block;
  position: relative;
  vertical-align: bottom;
  font-size: 1.5em; }
.land-search-input i.ka:before {
  font-size: 18px; }

ul.land-nav {
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 500px;
  max-width: 95%;
  margin: 3em auto 4em auto;
  font-size: 13px;
  text-transform: uppercase; }
  ul.land-nav li {
    display: inline-block;
    padding: 0 0.3em;
    text-align: center; }
    ul.land-nav li a i {
      padding-right: 0.4em; }

/*========== */
.bottom-menu-block {
  /*text-align: center; */
  /*align-self: flex-end; */
  /*-webkit-align-self: flex-end; */
  justify-content: space-between;
  display: flex;
  padding: 20px 13px;
  font-size: 13px; }

ul.bottom-menu li {
  display: inline-block;
  padding: 0 10px; }
ul.social-buttons li {
  display: inline-block;
  vertical-align: top; }
  ul.social-buttons li a {
    margin-right: 20px; }
ul.social-buttons i {
  z-index: 1;
  background-size: cover;
  display: inline-block;
  width: 20px;
  height: 20px;
  opacity: 0.4;
  margin-top: -3px;
  vertical-align: middle; }

@media screen and (max-width: 500px) {
  .bottom-menu-block {
    display: block; }

  .bottom-menu li .ka {
    display: none; }

  .social-buttons {
    margin-bottom: 20px; } }
/*================================ */
.bottom-menu-block a:hover {
  opacity: 0.7; }

.twitter-button {
  background-image: url(content/images/social-twitter-circular.svg); }

.facebook-button {
  background-image: url(content/images/social-facebook-circular.svg); }

@font-face {
  font-family: "katfont";
  src: url(content/fonts/katfont-Regular-v2.svg) format("svg"); }
[class*="ka-"]:before {
  font-family: "katfont";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  speak: none;
  display: inline-block;
  text-decoration: none;
  width: 1em;
  margin-right: 0.6em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 16px;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  cursor: pointer; }

.ka-settings:before {
  content: ""; }

.ka-star:before {
  content: ""; }

.ka-search:before {
  content: ""; }

.ka-torrent:before {
  content: ""; }

.ka-community:before {
  content: ""; }

.ka-rss:before {
  content: ""; }

.ka-faq:before {
  content: ""; }

.ka-user:before {
  content: ""; }

/* ========= drop menu ========== */
.ui-menu {
  list-style: none;
  padding: 0;
  display: none;
  float: left;
  color: #666;
  max-height: 300px;
  overflow: auto;
  position: fixed;
  top: 38px;
  width: 24.5%;
  border: 1px solid #e7e7e7;
  background-color: #fff1e5;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px; }
  .ui-menu .ui-menu-item {
    margin: 0;
    padding: 0;
    float: left;
    clear: left;
    width: 100%;
    font-size: 12px;
    text-shadow: 0 1px 0 white;
    text-align: left; }
    .ui-menu .ui-menu-item a {
      text-decoration: none;
      display: block;
      line-height: 1.5;
      white-space: nowrap;
      overflow: hidden;
      cursor: pointer;
      padding: 6px 10px;
      color: #594c2d;
      text-shadow: -1px 1px 0 #fff;
      border-bottom: 1px solid #dbdbcf; }
      .ui-menu .ui-menu-item a:hover, .ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-active {
        text-shadow: -1px 1px 0 #917c38;
        background: #a6904c;
        background: -moz-linear-gradient(top, #a6904c 0%, #917c38 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6904c), color-stop(100%, #917c38));
        background: -webkit-linear-gradient(top, #a6904c 0%, #917c38 100%);
        background: linear-gradient(to bottom, #a6904c 0%, #917c38 100%);
        background: -ms-linear-gradient(top, #a6904c 0%, #917c38 100%);
        color: #fff8d3;
        border-bottom: 1px solid #7e6c3a; }

#previewPopupContainer {
  display: none; }

.previewPopupContainer {
  position: absolute;
  z-index: 2000;
  width: 330px; }

/*# sourceMappingURL=landing.css.map */
